{% extends "ggst/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><span class="bi bi-question-circle-fill"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h3>Delete Region</h3>
<div id="message" class="alert alert-danger d-none" role="alert">

</div>
{% gizmo region_select %}
{% gizmo button delete_button %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'ggst/js/delete_region.js' %}" type="text/javascript"></script>
{% endblock %}