{% extends "ggst/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h3>Delete Region</h3>
<div id="message" class="alert alert-danger hidden" role="alert">

</div>
{% gizmo region_select %}
{% gizmo button delete_button %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'ggst/js/delete_region.js' %}" type="text/javascript"></script>
{% endblock %}