{% extends "ggst/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><span class="bi bi-question-circle-fill"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="API">
    <a data-bs-toggle="modal" data-bs-target="#api-modal"><span class="bi bi-info-circle-fill"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
    <a href="{% url 'ggst:home' %}"><span class="bi bi-house-door"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h1>Welcome</h1>
<script>window.onbeforeunload = null;</script>
<p>This app produces basic maps and timeseries using data from the <a href="https://www.jpl.nasa.gov/missions/gravity-recovery-and-climate-experiment-grace/" target="_blank">GRACE mission</a></p>
{% if num_regions > 0 %}
<form action="{% url 'ggst:region-map' %}" method="get">
    <p>Select a region from the dropdown below to view timeseries and an interactive map.</p>
    <div style="width:45%">{% gizmo region_select %}</div>
    <span class="btn-group ">
        <a name="submit-go-to-map" class="btn btn-success" role="button" onclick="document.forms[0].submit();" id="submit-go-to-map">
            <span class="bi bi-play-fill"></span>View Region
        </a>
    </span>
</form>
{% else %}
<p><b>No regions have been added. Please contact the admin to add new regions.</b></p>
{% endif %}
{% if user.is_superuser or user.is_staff %}
<p class="help-block">Don't see the region you want? Add one
    <a href="{% url 'ggst:add-region' %}">here</a>.</p>
{% endif %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Guide</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>Subsetting of the regions is made possible through <a href="https://github.com/c-h-david/shbaam" target="_blank">SHBAAM</a> (Satellite Hydrology Bits Analysis And Mapping)</b></p>
                <!--<p><b>For any questions, comments or subsetting requests contact Dr. Norm Jones at <a href="mailto:njones@byu.edu">njones@byu.edu</a></b></p>-->
                <h5>The following steps highlight the several functions of the GRACE web app</h5>
                <ol>
                    <li class="welcome-step">Select a Region
                        <p><b>Click the "Select a Region" dropdown and select an option</b></p>
                        <p><b>Or simply select the Global Map tab from the navigation pane</b></p>
                    </li>
                    <li class="welcome-step">View different storage types
                        <p><b>You have four options to choose from:</b></p>
                        <ul>
                            <li class="welcome-substep1">Total Water Storage Anomaly(GRACE Data), Surface Water Storage Anomaly(derived from GLDAS Model), Soil Moisture Storage Anomaly(derived from GLDAS Model), Groundwater Storage Anomaly(Calculated/inferred using previously mentioned storage types).
                        </ul>
                    </li>
                    <li class="welcome-step">View different timesteps
                        <p><b>You have two options to choose from:</b></p>
                        <ul>
                            <li class="welcome-substep1">Move the slider in the lower left-hand corner of the map
                            <li class="welcome-substep1">Select a date from the dropdown on the left
                        </ul>
                    </li>
                    <li class="welcome-step">View Animation
                        <ul>
                            <li class="welcome-substep1">Use the animation controls in the lower left-hand corner of the map to start or stop animation
                            <li class="welcome-substep1">Use the fps slider on the right side of the control bar to increase and decrease animation speed
                        </ul>
                    </li>
                    <li class="welcome-step">Contour/Map Settings
                        <ul>
                            <li class="welcome-substep1">Use the Select symbology dropdown to view different color schemes for the map contours.
                            <li class="welcome-substep1">Use the Max and Min toggles in the top left corner of the page to adjust the contour values.  The opacity toggle allows you to adjust the transparency of the map data layer
                        </ul>
                    </li>
                    <li class="welcome-step">View Time Series
                        <p><b>The Grace application allows the user to generate a time series plot for a specific location.  To generate a time series:</b></p>
                        <ul>
                            <li class="welcome-substep1">Click on the <b>Marker Icon</b> <span id= marker-icon class="bi bi-geo-alt-fill"></span> on the left side of the map, then place the marker within the data region.
                            <li class="welcome-substep1">The Time Series for that point will be generated below the map.
                        </ul>
                        <p>Note: You can also click anywhere on the time series graph to change the layer shown on the map to a specific time.  The time series can be exported in a number of formats by clicking the menu button on the chart(top-right).</p>
                    </li>
                    <li class="welcome-step">Click 'Exit' in the top-right of the app to return to the Main Apps Library</li>
                    <h5>Limitations Disclaimer:</h5>
                    <p>
                        <b>
                        We designed GGST to lower the level of technical knowledge required to interact with groundwater storage anomaly data from the GRACE mission data and provide the user with
                        robust regional analysis capabilities. As part of making these data easier to access, it is important for users to understand the limitations and proper applications of
                        these data. The data themselves are at a relatively coarse resolution, 1o latitude by 1o longitude, which are grid cells approximately 100 x 100 km, depending on the latitude
                        of the study region. Even at this resolution, basing decisions on a single cell would involve large, unknown uncertainties as the GRACE data are collected at a coarser resolution,
                        3o latitude by 3o longitude, then processed to estimate the higher resolution TWSa data set. These data are best used to evaluate long-term regional trends, rather than evaluating
                        local issues such as well placement. As with any remote sensing data, they should be validated with field data where possible. Even with these caveats, the GWa data set provides
                        managers with important insights into their aquifers, helping them identify and study long-term regional trends and identify regions that are depleting, recharging, or sustainably
                        using groundwater resources. GGST displays the uncertainties in the data calculations, described above, as error bands on the time series plots to provide context on regions or time
                        periods where higher levels of uncertainty may exist.
                        </b>
                    </p>
                    <p>External Resources and Links:</p>
                    <p><a href="https://github.com/BYU-Hydroinformatics/ggst" target="_blank">View Code</a></p>
                    <p><a href="https://servirglobal.net/about-servir" target="_blank">About SERVIR</a></p>
                    <p><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of Conditions</a></p>
                </ol>
            </div>
            <div class="modal-footer">
                <div align="center" id="logos">
                    <div class="logo-image"><a href="http://www.usaid.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/usaid.png"></a></div>
                    <div class="logo-image"><a href="http://appliedsciences.nasa.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/nasa.png"></a></div>
                    <div class="logo-image"><a href="http://www.cilss.bf/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/cilss.png"></a></div>
                    <div class="logo-image"><a href="http://www.rcmrd.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/rcmrd.png"></a></div>
                    <div class="logo-image"><a href="http://www.icimod.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/icimod.png"></a></div>
                    <div class="logo-image"><a href="http://www.adpc.net/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/adpc.png"></a></div>
                </div>
            </div>


        </div>
    </div>
    <!--End modal content-->
</div>


<!-- API Modal -->
<div class="modal fade" id="api-modal" tabindex="-1" role="dialog" aria-labelledby="api-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="api-modal-label">Developers API</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    A Developers API is provided for those who wish to incorporate the GRACE Tethys APP data into their own
                    separate application or script.
                </p>
                <br>
                <h3>API Methods</h3>
                <p>See the following page for documentation:<a href="https://ggst.readthedocs.io/en/latest/api.html" target="_blank"> API Documentation</a>
                </p>
            </div>
            <div class="modal-footer">
                <span><i>Developed at the BYU Hydroinformatics Lab</i></span>&nbsp;
                <a href="https://github.com/BYU-Hydroinformatics/ggst" target="_blank" class="btn btn-outline-secondary">View Code</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block app_actions %}

{% endblock %}